  /* Basic styles for reference guide */
  /* Andrew Hiles */
  
  .row {
    margin-top: 30px;
  }

  .lead:hover {
  	color: SEAGREEN;
  	-webkit-transition: color 1s ease-in;
	-moz-transition: color 1s ease-in;
  	-o-transition: color 1s ease-in;
  	transition: color 1s ease-in;
  }

  a.link:hover {
  	color: SEAGREEN;
  	-webkit-transition: color 1s ease-in;
	  -moz-transition: color 1s ease-in;
  	-o-transition: color 1s ease-in;
  	transition: color 1s ease-in;
  }

  .codeOutput {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
  }

  .codeBlock {
  	margin: auto;
  }

  /* Highlight code blocks in red */
  pre {
    color: darkred;
  }